html {
  padding: 1em;
}

body {
  background-color: #407fbf;
  font: 20px/1.5 sans-serif;
  font-weight: lighter;
  max-width: 600px;
  margin: 1em auto;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 150%;
  margin-bottom: 0;
}

h1, h2 {
  font-weight: lighter;
  border-left: solid 2px #9fbfdf;
  padding-left: 0.5em;
}

h2 {
  font-size: 120%;
  margin-top: 0;
  font-weight: lighter;
  margin-bottom: 2em;
}

pre.highlight {
  padding: 1em;
  overflow-x: auto;
  border-radius: 3px;
}

code {
  font-family: Menlo, monospace;
}

p + div.highlighter-rouge > pre {
  margin-top: 0;
}

div.highlighter-rouge + p {
  margin-top: 1.5em;
}

footer {
  opacity: 0.75;
  font-size: 50%;
  text-align: center;
  margin: 1em;
}

a, a:visited, a:active {
  color: #fff;
}

/* The wonderful Tomorrow Night theme */
.highlight { background: #1d1f21; color: #c5c8c6 }
.highlight .k { color: #b294bb }
.highlight .n { color: #c5c8c6 }
.highlight .p { color: #c5c8c6 }
.highlight .kt { color: #f0c674 }
.highlight .nn { color: #f0c674 }
.highlight .mi { color: #de935f }
